.header{
    justify-content: center;
    display: flex;
}

.contact-form__main{
    justify-content: center;
    display: flex;
    font-size: 20px;

}

.admin_table_image  {
    width: 100px;
    border: 1px solid #0c0c0c;
}

.admin__table {
    display: flex;
    justify-content: center;
}

.admin__table__header {
    border: 1px solid #0c0c0c;
    background-color: #8b7969;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

.admin__table__inner {
    border: 1px solid #e0dfde;
}

.admin__table__data {
    border: 1px solid #111111;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(209, 233, 233);
}

.admin__detail-btn {
    padding: 8px 12px;
    border: 1px solid #080808;
    background-color: #e9dbdb;
    color: #0f0f0f;
    text-decoration: none;
    
}

.pagination {
    display: flex;
    justify-content: center;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #82756a;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}
.page-link:hover {
    z-index: 2;
    color: #d9c6b5;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-item {
    list-style: none;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #82756a;
    border-color: #82756a;
}

.contact-form__search{
    display: flex;
    justify-content: right;
    width: 1000px;
    max-width: 80% ;
    
}

.form__button-submit{
    padding: 5px ;
    margin-left: 10px;
}
    
   

