.header {
    justify-content: center;
    display: flex;
}

.confirm-form__main {
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: center;
}

.form__image__title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px ;

}

.form__image__file{
    border: 1px solid #0c0c0c;
    width: 500px;
}